<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  
  
  <listeners> 
  <listener class-name="fbPackage.ReportListner"/>
  </listeners>
  
  <test name="Nopackage" >
    
    <classes>
      <class name="fbPackage.LoginTest"/>
      <class name="fbPackage.HomePageTes"/>
    </classes>
  </test>
</suite>